/* inicio Global */
*{
  margin: 0;
  padding: 0;
}
body{
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

html {
  height: 100%;
}

.logo-nav{
  width: 72px;
}

a#terminos1{
  text-decoration: none;
  color: white;
  position: relative;
  top: 2.2rem;
}

a#terminos2{
  text-decoration: none;
  color: white;
  position: relative;
  top: 2.2rem;
}

#icono{
  width: 2.3rem;
  height: 2.3rem;
  position: relative;
  margin-left: 1rem;
  top:2rem
}

footer {
  background-color: #c4342b;
  text-align: center;
  margin-top: auto;
}


@media(max-width:426px){

  footer{
      background-color: #c4342b;
      text-align: center;
      height:15rem;
      margin-top: 5rem;
  }
  a#terminos1{
      text-decoration: none;
      color: white;
      top: 0rem;
  }a#terminos2{
      text-decoration: none;
      color: white;
      top: 0rem;
  } 
  #icono{
  width: 2.3rem;
  height: 2.3rem;
  position: relative;
  margin-left: 1rem;
  top:2rem;
  margin-right: 1rem;
  }
  #quiemes{
    margin-top: 0;
  }
}


body {
  background-color: black;
}
.bgImg{
  margin-top: 6rem;
  background-image: url(/imagenes/image.png);
  background-size: cover;
  min-height: 35rem;
  position: relative;
  
}
#quienes{
  margin-top: 11rem !important;
  background-color: #c4342b;
  opacity: 90%;
  text-align: center;
}
.texto {
  color: white;
  text-align: center;
}

.imgLogo {
  width: 10rem;
  height: 10rem;
  border-radius: 100px;
  margin-left: 2rem;
}

.texto2 {
  color: white;
  text-align: center;
}

.bg-card1 {
  background-color: #fdf5dd;
}
.bg-card2 {
  background-color: #dbf9fd;
}
.bg-card3 {
  background-color: #f3c8cc;
}
.bg-card4 {
  background-color: #cdecd4;
}
.card-hover:hover {
  transform: scale(1.05);
  transition: transform 0.5s;
  cursor: pointer;
}

@media (min-width:768px)and (max-width:1025px) {
  #quienes{
    margin-top: 7rem !important;
   
  }
}
@media (max-width:425.1px) {
  #quienes{
    margin-top: 2rem !important;
  }
}